.login-container {
    height: 100vh;
    display: flex;
    align-items: center;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md)
}

.link{
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-regular);
    color: var(--color-primary);
    text-decoration: none;
    text-align: end;
}
