@import "../../index.css";

.session-card {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-surface);
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-md);
    padding: 20px;
    margin: 0 auto;
}

.session-card-title {
    font-weight: var(--font-weight-bold);
    color: var(--color-text-primary);
    margin-bottom: 10px;
}

.session-card-description {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-regular);
    color: var(--color-gray-500);
    width: auto
}

.session-card-lower-text {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-regular);
    color: var(--color-gray-500);
    margin-top: 15px;
}

#bottom-link {
    color: var(--color-primary);
    text-decoration: none;
}