.password-recovery-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md)
}

.password-recovery-container {
    height: 100vh;
    display: flex;
    align-items: center;
}