@import "../../../index.css";

.input{
    background-color: var( --color-gray-150);
    border-radius: var(--radius-sm);
    border-width: 1px;
    border-color: var(--color-gray-200);

    width: 100%;
    padding: 15px 0px;
}